button{
    background-color: white;
    font-size: 18px;
    margin-right: -2px;
    padding: 8px 15px;
}

/* button:hover{
    color: lightblue;
    background-color: rgb(133, 133, 133);
} */

.clicked{
    background-color: black;
    color: lightblue;
}